{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "demos.files.uploads"}}<span>{{T .Loc "file.uploads.head"}}</span></h2>
		<div class="ms-auto"></div>
		<a class="btn btn-sm btn-outline-primary" href="../">{{I "demos.files"}} {{T .Loc "menu.demos.files.list"}}</a>
	</div>
	<div class="s-section-body">
		<h4>{{T .Loc "file.uploads.label.single"}}</h4>
		<div data-spy="uploader"
			data-upload-url="{{.Base}}/files/upload"
			data-upload-data='{"demo":"single"}'
			data-dnload-url="{{.Base}}/files/preview$">

			<input type="file" name="file" class="ui-uploader-file" style="display:none"/>
			<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
		</div>

		<hr>
		<h4>{{T .Loc "file.uploads.label.multi"}}</h4>
		<div data-spy="uploader" data-remover="false"
			data-upload-url="{{.Base}}/files/upload"
			data-upload-data='{"demo":"multi"}'
			data-dnload-url="{{.Base}}/files/preview$">
			<input type="file" name="file" multiple class="ui-uploader-file" style="display:none"/>
			<div>
				<p>{{T .Loc "file.uploads.label.dragdrop"}}</p>
				<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
			</div>
		</div>

		<hr>
		<h4>{{T .Loc "file.uploads.label.multi_img"}}</h4>
		<div data-spy="uploader" data-preview="true"
			data-upload-url="{{.Base}}/files/upload"
			data-upload-data='{"demo":"multi"}'
			data-dnload-url="{{.Base}}/files/preview$">

			<input type="file" name="file" multiple class="ui-uploader-file" accept="image/*" style="display:none"/>
			<div>
				<p>{{T .Loc "file.uploads.label.dragdrop"}}</p>
				<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
			</div>
		</div>

		<hr>
		<h4>{{TF .Loc "file.uploads.label.multi_con" 5}}</h4>
		<div data-spy="uploader" data-upload-limit="5"
			data-upload-url="{{.Base}}/files/upload"
			data-upload-data='{"demo":"multi"}'
			data-dnload-url="{{.Base}}/files/preview$">

			<input type="file" name="file" multiple class="ui-uploader-file" style="display:none"/>
			<div>
				<p>{{T .Loc "file.uploads.label.dragdrop"}}</p>
				<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
			</div>
		</div>
	</div>
</div>

{{template "main_footer" .}}