@media (min-width: 992px) {
	.s-configs {
		display: flex;
	}
	.s-configs > ul.nav {
		flex-direction: column;
		flex-wrap: nowrap;
		min-width: 200px;
		max-width: 200px;
		padding-right: 1.5rem;
	}
}

@media (max-width: 991px) {
	.s-configs > .tab-content {
		padding-top: 1rem;
	}
}

.s-configs th {
	font-weight: normal;
	width: 25%;
	white-space: nowrap;
}
