#tenants_table > thead > tr > th {
	white-space: nowrap;
}
#tenants_table td.domain {
	width: 30%;
}
#tenants_table th.size, #tenants_table td.size {
	text-align: right;
	white-space: nowrap;
	width: 1%;
}
