{{define "head"}}
<head>
<title>{{if .Ctx.Attrs.title}}{{.Ctx.Attrs.title}} | {{end}}{{T .Loc "sitename"}}</title>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src * 'unsafe-inline'; font-src *; img-src * blob: data:; media-src *; script-src 'self' https://cdn.sheetjs.com/"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#337ab7"/>
<meta property="xdemo:base" content="{{$.Base}}"/>
<meta property="xdemo:domain" content="{{$.Domain}}"/>
<meta property="xdemo:token" content="{{$.Token}}"/>
<link rel="shortcut icon" href="{{$.Base}}/favicon.ico"/>
{{template "styles" .}}
</head>
{{end}}
