{{define "header"}}
<div id="header" class="fixed-top">
	<a href="{{$.Base}}/" class="brand"><img src="{{$.Base}}/assets/{{$.REV}}/logo.png"><span>{{T .Loc "sitename"}}</span></a>
	<div class="me-auto"></div>
	<div class="themedrop dropdown" title="{{T .Loc "button.theme"}}">
		<button class="theme btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-fw fa-circle-half-stroke"></i></button>
		<ul class="dropdown-menu dropdown-menu-end">
			<li><a class="dropdown-item active" href="#auto">{{I "theme.auto"}} {{T .Loc "theme.auto"}}</a></li>
			<li><a class="dropdown-item" href="#light">{{I "theme.light"}} {{T .Loc "theme.light"}}</a></li>
			<li><a class="dropdown-item" href="#dark">{{I "theme.dark"}} {{T .Loc "theme.dark"}}</a></li>
		</ul>
	</div>
	{{if gt (len .Locales) 1}}
	<div class="langdrop dropdown" title="{{T .Loc "button.language"}}">
		<button class="locale btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">{{I "language"}} {{I (print "locale." .Loc)}}</button>
		<ul class="dropdown-menu dropdown-menu-end">
			{{range $l := .Locales}}
			<li>
				<a {{if eq $.Loc $l}}class="dropdown-item active"{{else}}class="dropdown-item" href="#{{$l}}"{{end}}>{{I (print "locale." $l)}} {{T $.Loc (print "locale." $l)}}</a>
			</li>
			{{end}}
		</ul>
	</div>
	{{end}}
	<div class="maindrop dropdown">
		<button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
			<i class="fas fa-bars"></i>
		</button>
		<ul class="dropdown-menu dropdown-menu-end">
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/">{{I "demos.pets.list"}}<span>{{T .Loc "menu.demos.pets.list"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/catgen/">{{I "demos.pets.create.cat"}}<span>{{T .Loc "menu.demos.pets.create.cat"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/doggen/">{{I "demos.pets.create.dog"}}<span>{{T .Loc "menu.demos.pets.create.dog"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/clear/">{{I "demos.pets.clear"}}<span>{{T .Loc "menu.demos.pets.clear"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/reset/">{{I "demos.pets.reset"}}<span>{{T .Loc "menu.demos.pets.reset"}}</span></a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/files/">{{I "demos.files"}}<span>{{T .Loc "menu.demos.files"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/tags/">{{I "demos.tags"}}<span>{{T .Loc "menu.demos.tags"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/chiconv/">{{I "demos.chiconv"}}<span>{{T .Loc "menu.demos.chiconv"}}</span></a></li>
			{{if and .AU .AU.IsAdmin}}
			<li><a class="dropdown-item" href="{{.Base}}/demos/tests/">{{I "demos.tests"}}<span>{{T .Loc "menu.demos.tests"}}</span></a></li>
			{{end}}
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="{{.Base}}/e/403">{{I "ban"}}<span>403</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/e/404">{{I "question"}}<span>404</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/e/500">{{I "error"}}<span>500</span></a></li>
		</ul>
	</div>
	{{if .AU}}
	<div class="userdrop dropdown">
		<button class="username btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" title="{{.AU.DisplayName}}">
			{{.AU.Initials}}
		</button>
		<ul class="dropdown-menu dropdown-menu-end">
			{{if and .TT.IsDefault .AU.IsSuper}}
			<li><a class="dropdown-item" href="{{.Base}}/s/">{{I "super"}}<span>{{T .Loc "menu.super"}}</span></a></li>
			<li><hr class="dropdown-divider"></li>
			{{end}}
			{{if .AU.IsAdmin}}
			<li><a class="dropdown-item" href="{{.Base}}/a/users/">{{I "admin.users"}}<span>{{T .Loc "menu.admin.users"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/a/auditlogs/">{{I "admin.auditlogs"}}<span>{{T .Loc "menu.admin.auditlogs"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/a/settings/">{{I "admin.settings"}}<span>{{T .Loc "menu.admin.settings"}}</span></a></li>
			<li><hr class="dropdown-divider"></li>
			{{end}}
			<li><a class="dropdown-item" href="{{.Base}}/u/pwdchg/">{{I "user.pwdchg"}}<span>{{T .Loc "menu.user.pwdchg"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/login/logout">{{I "logout"}}<span>{{T .Loc "menu.logout"}}</span></a></li>
		</ul>
	</div>
	{{else}}
	<a class="btn btn-primary text-nowrap" href="{{.Base}}/login/">
		{{I "login"}}
		<span>{{T .Loc "menu.login"}}</span>
	</a>
	{{end}}
</div>
{{end}}
