{{template "main_header" .}}

{{MapSet .Ctx.Attrs "noalertclose" true}}

<div class="s-error e500">
	<div class="text-center w-100">
		<div class="icons pb-4 border-bottom">
			<i class="fas fa-5"></i><i class="far fa-face-frown"></i><i class="far fa-face-frown"></i>
		</div>
		<div class="fs-3 my-4 p-4">
			{{if .Ctx.Errors}}
				{{range $e := .Ctx.Errors}}
				<p>{{$e}}</p>
				{{end}}
			{{else}}
				<p>{{T .Loc "error.server.internal"}}</p>
			{{end}}
		</div>
	</div>
</div>

{{template "main_footer" .}}