/** bootstrap5 (default) **/
:root, [data-bs-theme=light] {
	/* --bs-primary: #2c3e50;
	--bs-primary-rgb: 44, 62, 80; */
	--bs-primary: #337ab7;
	--bs-primary-rgb: 51, 122, 183;
	--bs-link-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-link-hover-color: #23527c;
	--bs-link-hover-color-rgb: 35, 82, 124;
	--bs-focus-ring-color: rgba(29, 96, 145, 0.25);
}
.btn-primary {
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-outline-primary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-disabled-color: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}

/** bootswatch5 (cosmo)
[data-bs-theme=dark] .btn-outline-secondary {
	--bs-btn-color: #aaa;
	--bs-btn-border-color: #aaa;
	--bs-btn-hover-bg: #aaa;
	--bs-btn-hover-border-color: #aaa;
	--bs-btn-active-bg: #aaa;
	--bs-btn-active-border-color: #aaa;
	--bs-btn-disabled-color: #aaa;
	--bs-btn-disabled-border-color: #aaa;
}
**/

/** bootswatch5 (pulse)
[data-bs-theme=dark] .dropdown-menu {
	--bs-dropdown-link-color: #ccc;
}
[data-bs-theme=dark] .btn-outline-primary {
	--bs-btn-color: #ac8edb;
	--bs-btn-border-color: #ac8edb;
	--bs-btn-disabled-color: #ac8edb;
	--bs-btn-disabled-border-color:#ac8edb;
}
**/

/** bootstrap5 customize **/
dl, ol, ul {
	margin-top: 0;
	margin-bottom: 0;
}
a > s {
	text-decoration: none;
}
blockquote {
	border-left: 0.25rem solid var(--bs-border-color, #ccc);
	padding-left: 0.5rem;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
code {
	white-space: pre-wrap;
}
pre {
	background-color: transparent;
	border: 0 none;
	font-family: inherit;
	font-size: 1em;
	margin: 0;
	padding: 0;
	overflow: visible;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
mark {
	background-color: yellow;
}

/* dropdown menu */
.dropdown-menu > li > a > i {
	margin-right: 8px;
}

/* form */
textarea.form-control {
	min-height: auto;
}
input::placeholder, textarea::placeholder {
	opacity: 0.7 !important;
}
.form-switch > input {
	cursor: pointer;
}
.form-switch > input:disabled {
	cursor: not-allowed;
}

/* nav */
.nav-pills {
	--bs-nav-pills-link-active-bg: var(--bs-primary);
}

/* pagination */
.pagination {
	--bs-pagination-active-bg: var(--bs-primary);
	--bs-pagination-active-border-color: var(--bs-primary);
	font-family: var(--bs-font-monospace);
	margin: 0 1em;
	padding: 0;
}

/* well */
.well {
	margin-bottom: 1.5rem;
	white-space: pre-wrap;
}


/** summernote-lite patch for bootstrap5 **/
.note-frame {
	background-color: var(--bs-body-bg, #fff);
	color: var(--bs-body-color, #212529);
}
.note-editor .dropdown-toggle::after {
	display: none;
}
.note-editor .note-dropdown-menu {
	padding: 5px 0;
}
.note-toolbar {
	background-color: var(--bs-tertiary-bg, #f8f9fa);
}

/** plugins ui customize **/
/* fieldset */
/* .ui-fieldset {
	border-radius: var(--bs-border-radius, 0.375rem);
} */

/* sidenavi */
.ui-sidenavi .card-header {
	border-bottom: 1px solid var(--bs-border-color);
}
.ui-sidenavi .card-header, .ui-sidenavi .card-body {
	color: var(--bs-body-color);
}
.ui-sidenavi a {
	border-radius: 0.25em;
	color: var(--bs-body-color);
	text-decoration: none;
}
.ui-sidenavi a[href]:focus, .ui-sidenavi a[href]:hover {
	background-color: var(--bs-tertiary-bg);
}


/** layout **/
:root {
	--s-padded: 1rem;
}
* {
	scrollbar-width: thin;
}
body {
	background-color: var(--bs-secondary-bg);
	padding-top: 50px; /* for #header.fixed-top */
}

#header {
	background-color: var(--bs-body-bg);
	border-radius: 0;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 1rem;
	height: 50px;
	/* z-index: 1; */ /* set z-index if header is not fixed-top */
}
#header > *:not(:last-child) {
	margin-right: .5rem;
}
#header .brand {
	color: inherit;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 1.25em;
	margin: 0 1rem 0 0;
	text-decoration: none;
}
#header .brand > img {
	margin: 1px .5rem 1px 0;
}
#header ul.dropdown-menu {
	min-width: auto;
}

#sidenavi {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 50px 0 0 0;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 250px;
}
#sidenavi > .ui-sidenavi {
	padding: 1.5rem 1rem 0.5rem 0.5rem;
}
#sidenavi > .mainnavi {
	overflow-y: auto;
	margin-bottom: 1rem;
}
#sidenavi > .footnavi {
	margin-top: auto;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
#sidenavi > .footnavi > .nav {
	border-top: 1px solid var(--bs-border-color);
	padding-bottom: 0.75rem;
	min-height: 50px;
}

#content {
	box-sizing: border-box;
	min-width: 375px;
	min-height: calc(100vh - 100px);
	margin: 0 0 0 250px;
	padding: 1.25rem;
}

#footer {
	border-top: 1px solid var(--bs-border-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	position: relative;
	margin: auto 0 0 250px;
}
#footer .ver {
	color: #999;
	font-size: 80%;
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.footsite {
	padding: 5px 10px;
	text-align: center;
	z-index: 1;
}
.footsite .cpr, .footsite .pwr {
	font-size: 80%;
	white-space: nowrap;
}

#sidenavi, #content, #footer {
	transition: all 0.3s;
}

.nosidenavi #content {
	margin: 0;
}
.nosidenavi #footer {
	margin-left: 0;
}


/** userdrop **/
.userdrop .username {
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	width: 48px;
	height: 48px;
	margin-right: 10px;
}
.userdrop .username.dropdown-toggle::after {
	border-top-color: var(--bs-primary);
	font-size: 18px;
	position: absolute;
	right: 0px;
	bottom: 8px;
}
.userdrop .username:hover {
	border-color: var(--bs-btn-hover-bg);
}
.userdrop .username.dropdown-toggle:hover::after {
	border-top-color: var(--bs-btn-hover-bg);
}


/** section **/
.s-section {
	margin-bottom: 2rem;
}
.s-section-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}
.s-section-head > h2, .s-section-head > h3 {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.s-section-head > h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.s-section-head > h3 {
	font-size: 1.25rem;
	line-height: 1.25rem;
}
.s-section-head > h2 > i, .s-section-head > h3 > i {
	font-size: 1.25em;
}
.s-section-head > h1 > i + *, .s-section-head > h2 > i + *, .s-section-head > h3 > i + * {
	margin-left: 0.25em;
}
.s-section-body {
	background-color: var(--bs-body-bg);
	border-radius: 0.75rem;
	padding: 1.5rem;
}
.s-section-body > h3, .s-section-body > h4 {
	border-bottom: 1px solid #ccc;
	padding: 0.25rem 0;
}

/** responsive **/
@media (max-width: 991px) {
	.minimal #sidenavi {
		width: auto;
	}
	.minimal #sidenavi > .ui-sidenavi {
		padding-left: 5px;
		padding-right: 5px;
	}
	.minimal #content {
		margin-left: 48px;
		padding: 1rem;
	}
	.minimal .s-section-body {
		padding: 1.25rem;
	}
	.minimal #footer {
		margin-left: 48px;
	}
}
@media (max-width: 767px) {
	.minimal #sidenavi {
		width: 0;
	}
	.minimal #content {
		margin-left: 0;
		padding: 0.75rem;
	}
	.minimal .s-section-body {
		padding: 1rem;
	}
	.minimal #footer {
		margin-left: 0;
	}
}


/** form **/
div.desc, div.verr {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	white-space: pre-wrap;
}
div.verr {
	color: #a94442;
}
.ui-fieldset > legend.circle > i {
	margin-right: 0.5em;
}
.input-group.w-auto {
	display: inline-flex;
}

/** color **/
.grey {
	background-color: var(--bs-tertiary-bg);
}

/** sizeing **/
.padded {
	padding: var(--s-padded);
}
.onerow * {
	margin-bottom: 0.25rem;
}

/** toolbar **/
.s-toolbar {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 1.5rem;
}

/** popup **/
.s-popup-msgbox .ui-popup-body {
	min-height: 80px;
	min-width: 400px;
	max-width: 600px;
}
.s-popup-msgbox .icon {
	position: absolute;
}
.s-popup-msgbox .icon + .msg {
	padding: 5px 10px 5px 70px;
}
.s-popup-msgbox .msg {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
.s-popup-msgbox.error .ui-popup-body {
	color: var(--bs-danger, #dc3545);
}
.s-popup-msgbox.warn .ui-popup-body {
	color: var(--bs-warning, #8a6d3b);
}
.s-popup-msgbox.info .ui-popup-body {
	color: var(--bs-info, #337ab7);
}

.s-popup-detail {
	width: 90vw;
	max-width: 767px;
}
.s-popup-detail .ui-popup-header {
	display: flex;
}
.s-popup-detail .ui-popup-header > h4 {
	display: flex;
	align-items: center;
}
.s-popup-detail .ui-popup-body {
	min-height: 150px;
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}
.s-popup-detail.small {
	max-width: 575px;
}
.s-popup-detail.medium {
	max-width: 991px;
}
.s-popup-detail.large {
	max-width: 1199px;
}
.s-popup-detail.xlarge {
	max-width: 90vw;
}

.s-popup-detail > .prev, .s-popup-detail > .next {
	background-color: var(--bs-body-bg);
	border: 1px solid var(--bs-secondary);
	border-radius: 24px;
	cursor: pointer;
	display: none;
	width: 48px;
	height: 48px;
	position: absolute;
	bottom: 15px;
}
.s-popup-detail > .prev {
	left: 15px;
}
.s-popup-detail > .next {
	right: 15px;
}
.s-popup-detail > .prev:before, .s-popup-detail > .next:after {
	border-style: solid;
	border-width: 6px 0 0 0;
	border-color: var(--bs-secondary);
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 16px;
}
.s-popup-detail > .prev:before {
	border-left-width: 6px;
	left: 16px;
	transform: rotate(-45deg);
}
.s-popup-detail > .next:after {
	border-right-width: 6px;
	right: 16px;
	transform: rotate(45deg);
}
.s-popup-detail > .prev:hover, .s-popup-detail > .next:hover {
	background-color: var(--bs-secondary);
}
.s-popup-detail > .prev:hover:before, .s-popup-detail > .next:hover:after {
	border-color: var(--bs-light);
}

.s-popup-detail.xcol2 .ui-popup-header {
	overflow-x: hidden;
	padding: 0;
}
.s-popup-detail.xcol2 .ui-popup-header > * {
	flex: 0 0 50%;
	padding: 20px;
}
.s-popup-detail.xcol2 .ui-popup-body {
	display: flex;
	padding: 0;
	overflow-x: hidden;
}
.s-popup-detail.xcol2 .ui-popup-body > * {
	flex: 0 0 50%;
	padding: 10px 20px;
	max-height: 100%;
	overflow-y: auto;
}


/** table **/
.s-table {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.s-table > thead > tr > th {
	background-color: var(--bs-tertiary-bg);
	vertical-align: middle;
}
.s-table th.datetime, .s-table td.datetime,
.s-table th.created_at, .s-table td.created_at,
.s-table th.updated_at, .s-table td.updated_at {
	width: 110px;
	min-width: 110px;
}
.s-table th.actions {
	text-align: center;
}
.s-table th.id, .s-table td.id,
.s-table th.no, .s-table td.no,
.s-table th.check, .s-table td.check,
.s-table th.actions, .s-table td.actions {
	width: 1%;
	white-space: nowrap;
}
.s-table td.actions > * {
	padding: 6px 8px;
	margin: 0 0 5px 0;
}

.s-table td > p {
	margin: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: anywhere;
}
.s-table td > pre {
	max-height: 3em;
	overflow-y: auto;
}
.s-table tr.ui-blink-1s td, .s-table tr.ui-blink-1s2 td {
	background-color: transparent;
}

/** menu **/
.s-menu-item {
	background-color: #eee;
	display: inline-block;
	width: 130px;
	height: 120px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}
.s-menu-item:hover {
	background-color: #FFF8DC;
	text-decoration: none;
}
.s-menu-item > div {
	line-height: 1em;
	padding: 10px 0 0 0;
}
.s-menu-item i {
	font-size: 4em;
}
[data-bs-theme=dark] .s-menu-item {
	background-color: #292c2f;
}
[data-bs-theme=dark] .s-menu-item:hover {
	background-color: #393c3f;
}

/** login **/
.s-login {
	display: flex;
	justify-content: center;
}
.s-login > .s-section {
	max-width: 720px;
	width: 90vw;
}

/** error **/
.s-error {
	color: var(--bs-secondary);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	font-family: var(--bs-font-monospace);
	height: calc(100vh - 150px);
}
.s-error .icons {
	font-size: 10vw;
}
.s-error.e500 .icons {
	font-size: 5vw;
}