#auditlogs_table th {
	white-space: nowrap;
}
#auditlogs_table th.user, #auditlogs_table th.cip {
	width: 160px;
	min-width: 160px;
}
#auditlogs_table td.userinfo,
#auditlogs_table th.funact, #auditlogs_table td.funact {
	width: 320px;
	min-width: 320px;
}
#auditlogs_table td.detail > p {
	cursor: pointer;
}
