.sc-nav {
	background-color: var(--bs-body-bg, #fff);
	position: sticky;
	top: 50px;
	z-index: 10;
}
.scc > ul.nav {
	padding: 1rem 0;
}
.scc > ul.nav > li {
	margin-right: 1rem;
}
@media (min-width: 992px) {
	.scc {
		display: flex;
	}
	.scc > ul.nav {
		flex-direction: column;
		flex-wrap: nowrap;
		min-width: 200px;
		max-width: 200px;
		max-height: calc(100vh - 260px);
		overflow-y: auto;
	}
}
.scc .tab-content {
	margin-top: 1rem;
	width: 100%;
}

label[editor="$"] {
	color: #A02B93;
}
label[editor="%"] {
	color: #045C92;
}

.schedule > .doms, .schedule > .dows, .schedule > .hours {
	border-top: dashed 1px var(--ui-lined-color, #ccc);
	display: block;
}
