#users_table > thead > tr > th {
	white-space: nowrap;
}
#users_table td.name {
	width: 10%;
}
#users_table td.email {
	width: 25%;
}

#users_table td.status, #users_table td.role {
	white-space: nowrap;
	width: 1%;
}

#users_table tr.D > td {
	/* text-decoration: line-through; */
	color: var(--bs-secondary-color) !important;
}

