{{$f := .File}}
{{MapSet .Ctx.Attrs "title" $f.Name}}

{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h1><i class="fas fa-fw fa-file-csv"></i><span>{{$f.Name}}</span></h1>
		<div class="me-auto"></div>
		<div>{{T .Loc "file.time"}} {{TIME $f.Time}}</div>
		<a class="btn btn-sm btn-outline-primary ms-4" href="{{$.DnloadURL}}">{{I "dnload"}}</a>
	</div>
	<div class="s-section-body">
		<div class="table-responsive">
			{{if .Rows}}
			<table class="table table-bordered table-striped" linkify>
				{{range $r := .Rows}}
				<tr>
					{{range $c := $r}}
					<td><pre>{{$c}}</pre></td>
					{{end}}
				</tr>
				{{end}}
			</table>
			{{else}}
			<pre linkify>{{.Text}}</pre>
			{{end}}
		</div>
	</div>
</div>

{{template "main_footer" .}}