{{$f := .File}}
{{MapSet .Ctx.Attrs "title" $f.Name}}

{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h1><i class="fas fa-fw fa-file-lines"></i><span>{{$f.Name}}</span></h1>
		<div class="me-auto"></div>
		<div>{{T .Loc "file.time"}} {{TIME $f.Time}}</div>
		<a class="btn btn-sm btn-outline-primary ms-4" href="{{$.DnloadURL}}">{{I "dnload"}}</a>
	</div>
	<div class="s-section-body">
		<pre linkify>{{.Text}}</pre>
	</div>
</div>

{{template "main_footer" .}}